header {
  background-color: black;
  display: flex;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;

  flex: 1;
}
.logo img {
  height: 50px;

}
nav .link {
  display: inline-block;

  flex: 1;
}
nav span {

}
.link {
  align-items: center;
}
