header {
  display: flex;
  background-color: black;
  height: 69px;
}
.box1 {
  height: 50px;

  display: flex;
  flex: 1;
}
.links {
  display: flex;
  flex: 1;
}
.topimage {
  margin: auto 10px;
}
